img{
  margin-top: 50px;
  margin-left: 50px;

}
button{
  margin-top: 50px;
  margin-left: 50px;

}
.tablemain{
  border-radius: 25px;
  background-color: sandybrown;
  margin: auto;
  width: 350px;
  margin-top: 20px;

}
.table-title{


}






.table-value{

  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  /* margin: 4px 2px; */
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.table-value:hover {opacity: 1}


.tables1{
  margin-right: 9px;
    margin-left: 2px;
    padding: 7px;
}
.tables2{
  padding: 7px;
  margin-right: 188px;
  margin-left: -7px;

}
.tables3{
  padding: 7px;
  margin-right: -1px;
  margin-left: -171px;

}

.tables4{
  margin-right: -252px;
  margin-left: 107px;
  padding: 7px;




}
.tables5{
  padding: 7px;
  margin-right: -120px;
  margin-left: 254px;


}
.tables6{
  margin-right: -47px;
  margin-left: 141px;
  padding: 7px;
  

}
.tables7{
padding: 7px;


}
.tables8{
  padding: 7px;
  margin-right: -48px;
  margin-left: 6px;

}
.tables9{
padding: 7px;


}
.tables10{
  padding: 7px;
    margin-right: -46px;
    margin-left: 13px;
}
.tables11{
padding: 7px;


}
.tables12{
  margin-left: 13px;
  padding: 7px;
  margin-right: -47px;

}
.tables13{
padding: 7px;


}
.tables14{
padding: 7px;
margin-left: 11px;
margin-right: -46px;

}
.tables15{
padding: 7px;

}
.send_menu{

  padding: 7px;
  margin-bottom: -80px;


}
.accept{

  padding: 7px;
  margin-bottom: -80px;
}
.test{

  padding: 7px;
  margin-bottom: -80px;

}

 .move{
  margin-right: -20px;
  margin-bottom: -70px;
  margin-top: 23px;
  
  
} 
.col2{
  border-radius: 25px;
  margin-left: -18px;
  margin-right: -30px;
  background-color: sandybrown;
}
.col1{
  border-radius: 25px;
    margin-left: -28px;
    margin-right: 20px;
    background-color: sandybrown;


}